asn1crypto==0.24.0
beautifulsoup4==4.6.3
biopython==1.72
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
cryptography==2.3.1
cryptography-vectors==2.3.1
Cython==0.29
idna==2.7
mkl-fft==1.0.6
mkl-random==1.0.1
numpy==1.15.0
pycparser==2.19
pyOpenSSL==18.0.0
PySocks==1.6.8
PyYAML==3.13
requests==2.20.0
requests-ftp==0.3.1
six==1.11.0
urllib3==1.23
