asn1crypto==0.24.0
beautifulsoup4==4.6.3
biopython==1.71
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
cryptography==2.2.2
idna==2.7
mkl-fft==1.0.0
mkl-random==1.0.1
numpy==1.14.5
pycparser==2.18
pyOpenSSL==18.0.0
PySocks==1.6.8
PyYAML==3.13
requests==2.19.1
requests-ftp==0.3.1
six==1.11.0
urllib3==1.23
wget==3.2
